//COLORS
$color-red: #ff5252;
$color-blue: #0097a7;
$color-dark-blue: #161e21;
$color-white: #ffffff;
$color-black: #101010;
$color-light-gray: #d4d4d4;
$color-medium-gray: #949494;
$color-createdby: #1e2c2e;

$color-black-transparent: rgba(0, 0, 0, 0.5);
